* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    background-color: #023047;
    color: #050505;
    font-size: 100%;
}

h1 {
    font-size: calc(1.5rem + 2vw);
    color: white;
    padding-top: 20px;
}

.main-title {
    text-align: center;
    margin: 24px 0;
}

.posts-list {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

.posts-list > * {
    margin-bottom: 4px;
}

.post { 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    padding: 5%;
    margin: 60px 0;
}

.post__header {
    margin-bottom: 16px;
}

.post-meta {
    display: flex;
}

.post-meta__icon {
    margin-right: 24px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px gray;
}

.post-meta__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-meta__author {
    font-weight: 900;
    font-size: 22px;
}

.post-meta__time {
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px;
    font-style: oblique;
}

.profile-pic {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.profile-pic-default {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0CD977;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic-default span {
    font-weight: bold;
    color: #023047;
    font-size: 1.2rem;
    text-transform: uppercase;
    height: 60px;
    width: 60px;
}

.post__text {margin: 20px 0 30px 0; text-align: justify;}

.post__image {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.post__image img {width: 100%;border-radius: 8px;}

.likes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.like-button {
    display: inline-block;
    padding: 16px;
    border-radius: 8px;    
    text-decoration: none;
    color: #404040;
    cursor: pointer;
}

.like-button:not(.like-button--liked):hover {background-color: #e3e3e3;}
.like-button__label{font-weight: bold;}
.like-button--liked{color: red;}
.like-button--liked:hover{background-color: #e3e3e3;}